table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: transparent;
}

table td, table th{
    padding: .55rem;
    vertical-align: text-top;
    border-top: 1px solid #dee2e6;
}