<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
</head>
<body>
    {% if errors %}
        {% for key,error in errors.items %}
            {{error}}
        {% endfor %}
    {% endif %}
    <form action="{% url 'user:change_password' %}" method="POST">
        {% csrf_token %}
        请输入旧密码: <input type="password" name="old_password"><br/>
        请输入新密码: <input type="password" name="new1_password"><br/>
        再输入新密码: <input type="password" name="new2_password"><br/>
        <input type="submit" name="change_password" value="确认修改">
    </form>
</body>
</html>