{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
  </head>
  <body>
    <div class="container">
      <form action="{% url 'user:change_password' %}" method="POST">
        <h2 class="form-signin-heading">修改密码</h2>
            {% if errors %}
                {% for key,error in errors.items %}
                    {{error}}
                {% endfor %}
            {% endif %}
        {% csrf_token %}
        <label for="inputoldpassword" class="sr-only">请输入旧密码:</label>
        <input type="password" name="old_password" class="form-control" placeholder="旧密码" ><br/>
        <label for="inputnewpassword" class="sr-only">请输入新密码: </label>
        <input type="password" name="new1_password" class="form-control" placeholder="新密码" ><br/>
        <label for="inputnewpassword" class="sr-only">再输入新密码: </label>
        <input type="password" name="new2_password" class="form-control" placeholder="再输一次新密码" ><br/>
        <input type="submit" class="btn btn-lg btn-primary btn-block" name="change_password" value="确认修改">
    </form>
</body>
</html>