<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>创建用户</title>
</head>
<body>
    {% if errors %}
        {% for key,error in errors.items %}
            {{ error }}
            <br/>
        {% endfor %}
        <br/>
    {% endif %}
    <form action="{% url 'user:create' %}" method="POST">
        用户姓名:<input type="text" name="username" value=""/><br />
        年龄：  <input type="text" name="age" value=""/><br />
        性别：  <input type="radio" name="sex" value="1"
                {% if user.sex != 0%} checked="checked" {% endif %}/> 男
                <input type="radio" name="sex" value="0"
                {% if user.sex == 0%} checked="checked" {% endif %}/> 女 <br />
        联系方式：<input type="text" name="tel" value=""/><br />
        输入密码:<input type="password" name="password1" value=""/><br />
        确认密码:<input type="password" name="password2" value=""/><br />
        <input type="submit" name="create" value="创建用户" /><br />
    {% csrf_token %}
    </form>
</body>
</html>