{% extends "base.html" %}

{% block title %}用户管理{% endblock %}
{% block nav_user %}active{% endblock %}
{% block li_create %}<li><a class="btn-create-user"href="javascript:void(0)">添加用户</a></li>{% endblock %}
{% block li_changepassword %}<li><a class="btn-change-password" href="javascript:void(0)">修改密码</a></li>{% endblock %}
{% block container %}
<p class="bg-danger">
    {% if errors %}
        {% for error in errors %}
            {{error}}
        {% endfor %}
    {% endif %}
</p>
<table id="Table_user" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>联系方式</th>
            <th>所在地</th>
            <th>操作方式</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div> <!-- /container -->
{% endblock %}

{% block dialogs %}
    <!-- Modal-create-user -->
    <div class="modal fade" id="dialog-create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">用户创建</h4>
          </div>
          <div class="modal-body">
            <form class="from-create-user">
                <label class="sr-only">用户姓名</label>
                <input type="text" name="username" value="" class="form-control" placeholder="用户名"/><br />
                <label class="sr-only">年龄</label>
                <input type="text" name="age" value="" class="form-control" placeholder="年龄"/><br />
                性别：
                    <label class="radio-inline">
                        <input id="inlineRadio1" type="radio" name="sex" value="1"
                        checked="checked"/> 男
                    </label>
                    <label class="radio-inline">
                        <input id="inlineRadio2" type="radio" name="sex" value="0"/> 女
                    </label>
                <br /><br />
                <label class="sr-only">联系方式</label>
                <input type="text" name="tel" value="" class="form-control" placeholder="联系方式"/><br />
                <label class="sr-only">输入密码</label>
                <input type="password" name="password1" value="" class="form-control" placeholder="输入密码"/><br />
                <label class="sr-only">确认密码</label>
                <input type="password" name="password2" value="" class="form-control" placeholder="确认密码"/><br />
            {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary btn-save-user">保存</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal-change-password -->
    <div class="modal fade" id="dialog-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改密码</h4>
          </div>
          <div class="modal-body">
            <form class="from-change-password">
                  {% if errors %}
                      {% for key,error in errors.items %}
                          {{error}}
                      {% endfor %}
                  {% endif %}
                {% csrf_token %}
                <label for="inputoldpassword" class="sr-only">请输入旧密码:</label>
                <input type="password" name="old_password" class="form-control" placeholder="旧密码" ><br/>
                <label for="inputnewpassword" class="sr-only">请输入新密码: </label>
                <input type="password" name="new1_password" class="form-control" placeholder="新密码" ><br/>
                <label for="inputnewpassword" class="sr-only">再输入新密码: </label>
                <input type="password" name="new2_password" class="form-control" placeholder="再输一次新密码" ><br/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary btn-save-password">保存</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

    <!-- script -->
{% block js %}
  $('#Table_user').DataTable({
      "language": {
          "processing": "处理中...",
          "lengthMenu": "显示 _MENU_ 项结果",
          "zeroRecords": "没有匹配结果",
          "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
          "infoFiltered": "(由 _MAX_ 项结果过滤)",
          "infoPostFix": "",
          "search": "搜索:",
          "searchPlaceholder": "搜索...",
          "url": "",
          "emptyTable": "表中数据为空",
          "loadingRecords": "载入中...",
          "infoThousands": ",",
          "paginate": {
              "first": "首页",
              "previous": "上页",
              "next": "下页",
              "last": "末页"
          },
          "aria": {
              paginate: {
                  first: '首页',
                  previous: '上页',
                  next: '下页',
                  last: '末页'
              },
              "sortAscending": ": 以升序排列此列",
              "sortDescending": ": 以降序排列此列"
          },
          "decimal": "-",
          "thousands": "."
      },

      ajax : {
            url : '{% url "user:list_ajax" %}',
            dataSrc: 'result',
        },

      columns : [
        {
            "data" : function(row, type, set, meta) {
                return row['id'];
            }
        },
        { "data" : "name" },
        { "data" : "age" },
        { "data" : "sex" },
        { "data" : "tel" },
        { "data" : "addr" },
        { "data" : function(row) {
            return '<a class="btn btn-sm btn-warning" href="javascript:void(0)" data-id="' + row['id'] + '">修改</a>' + '<a class="btn btn-sm btn-danger btn-delete-user" href="javascript:void(0)" data-id="' + row['id'] + '">删除</a>'
          }
        },
      ]


  });

  //btn-change-password
  $('.btn-change-password').on('click', function() {
    $('#dialog-change-password').modal({show:true});
  });

  //btn-save-password
  $('.btn-save-password').on('click', function() {
    var data = $('.from-change-password').serializeArray();
    console.log(data);
    $.post("{% url 'user:change_password_ajax' %}", data ,function(result) {
        console.log(result);

        if(result['code'] == 200) {
            swal({
              title: '创建成功！',
              type: 'success',
              timer: 2000
            },function() {
                      //关闭sweetalert
                      swal.close();
                      /*刷新table*/
                      window.location.reload()
                  });
        }

        else if(result['code'] == 400) {
            var errors = []
            $.each(result['errors'], function(k,v) {
              errors.push(v)
            })
            swal(
              '验证失败!',
              errors.join('\n'),
              'error'
            )
        }

        else if(result['code'] == 403) {
            var errors = []
            jQuery.each(result['errors'], function(k,v) {
              errors.push(v)
            })
            swal({
                  title: errors.join('\n'),
                  text: '2秒后自动关闭并返回。',
                  timer: 2000
                },function() {
                      //关闭sweetalert
                      swal.close();
                      /*刷新table*/
                      window.location.reload()
                    });
        }

    });
  });

  //btn-create-user
  $('.btn-create-user').on('click',function(){
    console.log(jQuery('#dialog-create-user').length);
    $('#dialog-create-user').modal({show:true});
  });


  $('.btn-save-user').on('click',function() {
    var data = $('.from-create-user').serializeArray();
    console.log(data);
    jQuery.post("{% url 'user:create_ajax' %}", data, function(result) {
      console.log(result);
      if(result['code'] == 200) {
        swal({
              title: '创建成功！',
              type: 'success',
              timer: 2000
            },function() {
                      //关闭sweetalert
                      swal.close();
                      /*刷新table*/
                      window.location.reload()
                  });
        //$('#dialog-create-user').modal('hide');
        //window.location.reload()
      }
      else if(result['code'] == 400) {
        var errors = []
        jQuery.each(result['errors'], function(k,v) {
          errors.push(v)
        })
        swal(
              '验证失败!',
              errors.join('\n'),
              'error'
            )
      }
      else if(result['code'] == 403) {
        var errors = []
        jQuery.each(result['errors'], function(k,v) {
          errors.push(v)
        })
        swal({
                  title: errors.join('\n'),
                  text: '2秒后自动关闭并返回。',
                  timer: 2000
              },function() {
                      //关闭sweetalert
                      swal.close();
                      /*刷新table*/
                      window.location.reload()
                  });
      }
    },'json');
  });


  //btn-delete-user
  $('body').on('click', '.btn-delete-user', function() {
    var id = jQuery(this).attr('data-id');
    swal({
      title: "确定删除吗？",
      text: "",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "确定删除！",
      cancelButtonText: "取消删除！",
      closeOnConfirm: false,
      closeOnCancel: true
    },
    function(){
        //提交ajax删除数据
        jQuery.get("{% url 'user:delete_ajax' %}", {'id' : id}, function(result) {
          console.log(result);
          if(result['code'] == 200) {
              swal({
                  title: "成功",
                  text: "",
                  type: "success",
                  closeOnConfirm: false
                }, function() {
                    //关闭sweetalert
                    swal.close();
                    /*刷新table*/
                    window.location.reload()
                });
          } else if(result['code'] == 400) {
              var errors = [];
              jQuery.each(result['errors'], function(k, v) {
                  errors.push(v);
              });
              swal("验证失败:", errors.join('\n'),"error")
          } else if(result['code'] == 403) {
              swal({
                  title: "未登录",
                  text: "",
                  timer: 2000,
                  showConfirmButton: false
              });
          }
        }, 'json');
    });
});
{% endblock %}
