{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">

    <title>用户管理系统</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><label>当前用户：{{ request.session.user.name }}</label></li>
            <li role="presentation"><a class="btn btn-info btn-xs" href="/user/change_password">修改密码</a></li>
            <li role="presentation"><a class="btn btn-info btn-xs" href="/user/logout">退出登录</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">用户管理系统</h3>
      </div>

      <div class="jumbotron">

        <p><a class="btn btn-lg btn-success" href="/user/create" role="button">添加用户</a></p>
      </div>

      <table class="table table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>联系方式</th>
            <th>所在地</th>
            <th>操作方式</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>
                    {% if user.sex == 0 %}
                        女
                    {% else %}
                        男
                    {% endif %}
                </td>
                <td>{{ user.tel }}</td>
                <td>{{ user.addr }}</td>
                <td>
                    <a href="{% url 'user:user_info' %}?uid={{ user.id }}">修改&nbsp;</a>
                    <a href="{% url 'user:delete' %}?uid={{ user.id }}">&nbsp;删除</a>
                </td>

            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript" src="{% static 'user/index.js' %}"></script>

      <footer class="footer">
        <p>&copy; 2018 NikoZhang, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
