{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户管理系统</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert-1.0.1/dist/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user/index">用户管理</a></li>
            <li class=""><a href="/asset">资产管理</a></li>
            <li>
              <a class="btn-create-user"href="javascript:void(0)">添加用户</a>
            </li>
            <li><a href="/user/change_password">修改密码</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ request.session.user.name }}</a></li>
            <li><a href="/user/logout">退出登录</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <p class="bg-danger">
        {% if errors %}
          {% for error in errors %}
              {{error}}
          {% endfor %}
        {% endif %}
        </p>
        <table id="Table_user" class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>姓名</th>
              <th>年龄</th>
              <th>性别</th>
              <th>联系方式</th>
              <th>所在地</th>
              <th>操作方式</th>
            </tr>
          </thead>
        
            <tbody>
              {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>
                        {% if user.sex == 0 %}
                            女
                        {% else %}
                            男
                        {% endif %}
                    </td>
                    <td>{{ user.tel }}</td>
                    <td>{{ user.addr }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{% url 'user:user_info' %}?uid={{ user.id }}">修改</a>
                        {% if request.session.user.id != user.id %}
                        <a class="btn btn-sm btn-danger btn-delete-user" data-id="{{ user.id }}" href="javascript:void(0)">删除</a>
                        {% endif %}
                    </td>

                </tr>
              {% endfor %}
            </tbody>
    </table>
      </div>
        <footer class="footer">
          <p>&copy; 2018 NikoZhang, Inc.</p>
        </footer>
    </div> <!-- /container -->
    
    <!-- Modal -->
    <div class="modal fade" id="dialog-create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">用户创建</h4>
          </div>
          <div class="modal-body">
            <form class="from-create-user">
                <label class="sr-only">用户姓名</label>
                <input type="text" name="username" value="" class="form-control" placeholder="用户名"/><br />
                <label class="sr-only">年龄</label>
                <input type="text" name="age" value="" class="form-control" placeholder="年龄"/><br />
                性别：
                    <label class="radio-inline">
                        <input id="inlineRadio1" type="radio" name="sex" value="1"
                        checked="checked"/> 男
                    </label>
                    <label class="radio-inline">
                        <input id="inlineRadio2" type="radio" name="sex" value="0"/> 女
                    </label>
                <br /><br />
                <label class="sr-only">联系方式</label>
                <input type="text" name="tel" value="" class="form-control" placeholder="联系方式"/><br />
                <label class="sr-only">输入密码</label>
                <input type="password" name="password1" value="" class="form-control" placeholder="输入密码"/><br />
                <label class="sr-only">确认密码</label>
                <input type="password" name="password2" value="" class="form-control" placeholder="确认密码"/><br />
            {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary btn-save-user">保存</button>
          </div>
        </div>
      </div>
    </div>
    <!-- script -->
    <script type="text/javascript" src="{% static 'jquery/jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sweetalert-1.0.1/dist/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}"></script>

    <script type="text/javascript">
      //datatables
        $(document).ready(function() {
          $('#Table_user').DataTable({
              "language": {
                  "processing": "处理中...",
                  "lengthMenu": "显示 _MENU_ 项结果",
                  "zeroRecords": "没有匹配结果",
                  "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                  "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                  "infoFiltered": "(由 _MAX_ 项结果过滤)",
                  "infoPostFix": "",
                  "search": "搜索:",
                  "searchPlaceholder": "搜索...",
                  "url": "",
                  "emptyTable": "表中数据为空",
                  "loadingRecords": "载入中...",
                  "infoThousands": ",",
                  "paginate": {
                      "first": "首页",
                      "previous": "上页",
                      "next": "下页",
                      "last": "末页"
                  },
                  "aria": {
                      paginate: {
                          first: '首页',
                          previous: '上页',
                          next: '下页',
                          last: '末页'
                      },
                      "sortAscending": ": 以升序排列此列",
                      "sortDescending": ": 以降序排列此列"
                  },
                  "decimal": "-",
                  "thousands": "."
              }
          });

          //btn-create-user
          $('.btn-create-user').on('click',function(){
            console.log(jQuery('#dialog-create-user').length);
            $('#dialog-create-user').modal({show:true});
          });


          $('.btn-save-user').on('click',function() {
            var data = $('.from-create-user').serializeArray();
            console.log(data);
            jQuery.post("{% url 'user:create_ajax' %}", data, function(result) {
              console.log(result);
              if(result['code'] == 200) {
                swal({
                      title: '创建成功！',
                      type: 'success',
                      timer: 2000
                    },function() {
                              //关闭sweetalert
                              swal.close();
                              /*刷新table*/
                              window.location.reload()
                          });
                //$('#dialog-create-user').modal('hide');
                //window.location.reload()
              }
              else if(result['code'] == 400) {
                var errors = []
                jQuery.each(result['errors'], function(k,v) {
                  errors.push(v)
                })
                swal(
                      '验证失败!',
                      errors.join('\n'),
                      'error'
                    )
              }
              else if(result['code'] == 403) {
                var errors = []
                jQuery.each(result['errors'], function(k,v) {
                  errors.push(v)
                })
                swal({
                          title: errors.join('\n'),
                          text: '2秒后自动关闭并返回。',
                          timer: 2000
                      },function() {
                              //关闭sweetalert
                              swal.close();
                              /*刷新table*/
                              window.location.reload()
                          });
              }
            },'json');
          });


          //btn-delete-user
          $('body').on('click', '.btn-delete-user', function() {
            var id = jQuery(this).attr('data-id');
            swal({ 
              title: "确定删除吗？", 
              text: "", 
              type: "warning",
              showCancelButton: true, 
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "确定删除！", 
              cancelButtonText: "取消删除！",
              closeOnConfirm: false, 
              closeOnCancel: true  
            },
            function(){ 
                //提交ajax删除数据
                jQuery.get("{% url 'user:delete_ajax' %}", {'id' : id}, function(result) {
                  console.log(result);
                  if(result['code'] == 200) {
                      swal({
                          title: "成功", 
                          text: "",
                          type: "success",
                          closeOnConfirm: false
                        }, function() {
                            //关闭sweetalert
                            swal.close();
                            /*刷新table*/
                            window.location.reload()
                        });                        
                  } else if(result['code'] == 400) {
                      var errors = [];
                      jQuery.each(result['errors'], function(k, v) {
                          errors.push(v);
                      });
                      swal("验证失败:", errors.join('\n'),"error")
                  } else if(result['code'] == 403) {
                      swal({ 
                          title: "未登录", 
                          text: "", 
                          timer: 2000, 
                          showConfirmButton: false 
                      });
                  }
                }, 'json');
            });
        });

          
        });
    </script>

  </body>
</html>